/**
 * Possible values for $crossAlignment are flex-start, center, flex-end and stretch
 * 
 * Possible values for $alignment are flex-start, center and flex-end
 * - stretch isn't possible directly with $alignment.. instead specific child elements need
 *   flex-grow: 1; CSS property manually applied.
 */
@mixin horizontal-children($crossAlignment: center, $alignment: center, $wrap: wrap) {
    display: flex;
    flex-direction: row;
    
    /* alignment over the vertical axis*/
    align-items: $crossAlignment;
    align-content: $crossAlignment;
    
    /* alignment over the horizontal axis*/
    justify-content: $alignment;
    
    flex-wrap: $wrap;
}
@mixin vertical-children($crossAlignment: center, $alignment: center) {
    display: flex;
    flex-direction: column;
    
    /* alignment over the horizontal axis*/
    align-items: $crossAlignment;
    align-content: $crossAlignment;
    
    /* alignment over the vertical axis*/
    justify-content: $alignment;
}
